<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<<<<<<< HEAD
    <h1><%= title %></h1>
    67894
=======
    124575\4

    235533
>>>>>>> HoangThiNgoc
  </body>
</html>
